.container {
   border: 5px solid black;
   border-radius: 50%;
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#clockContainer {
   margin: auto;
   height: 35vw;
   width: 35vw;
   background: url(img/clock.png) no-repeat;
   background-size: 100%;

   position: relative;
}

#hour,
#minute,
#second {
   position: absolute;
   border-radius: 10px;
   transform-origin: bottom;
}

#hour {
   width: 1.5%;
   height: 15%;
   top: 35%;
   left: 50%;
   opacity: 0.8;
   background-color: blue;
}

#minute {
   width: 1%;
   height: 18%;
   top: 32%;
   left: 50.2%;
   opacity: 0.8;
   background-color: greenyellow;
}

#second {
   width: 0.5%;
   height: 24%;
   top: 25.9%;
   left: 50.5%;
   opacity: 0.8;
   background-color: red;
}
